.container1 {
  width: 1280px;
  margin: 0 auto;
}
.container2 {
  width: 1140px;
  margin: 0 auto;
}
$font-header: 45px;
$font-color: rgba(44, 44, 44, 0.654);
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.line {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.section-header {
  text-align: center;
  font-weight: 600;
}
//looking
.section {
  min-height: 100px;
  // border-top: 5px solid rgb(3, 10, 10);
}
// .container1 , .container2{
//     border-top: 1px solid rgb(135, 2, 75);
// }
// *{
//     border: 1px solid rgb(1, 130, 20);
// }
// Start Project

//SECTION  HELLO
#hello {
  height: 750px;
  background-image: linear-gradient(
      180deg,
      rgba(40, 5, 180, 0.913),
      rgba(42, 4, 147, 0.838)
    ),
    url(./images/header-background.png);
  background-repeat: no-repeat;
  background-size: 1570px 750px;
  opacity: 80%;
  color: whitesmoke;

  .container1 {
    // display: flex;
    // justify-content: space-between;
    .header {
      padding-top: 40px;
      display: flex;
      justify-content: space-between;
      .menu {
        nav {
          display: flex;
          color: whitesmoke;
          ul {
            display: flex;
            li {
              display: inline-block;
              :hover {
                background-color: yellow;
                transition: 0.5s;
                color: rgb(9, 9, 9);
                border-radius: 5px;
                font-weight: bold;
              }
              a {
                margin: 0;
                padding: 0;
                list-style: none;
                display: block;
                padding: 6px 12px;
                text-decoration: none;
                color: whitesmoke;
                font-size: 14px;
              }
            }
          }
        }
      }
      .obelo {
        display: flex;
        .img {
          width: 35px;
        }
        .trp {
          @keyframes example {
            from {
              color: red;
            }
            to {
              color: yellow;
            }
          }
          padding-top: 9px;
          padding-left: 5px;
          font-size: 25px;
          animation-name: example;
          animation-duration: 1s;
          animation-delay: 1s;
          animation-fill-mode: backwards;
        }
      }
    }
    .name {
      margin-top: 180px;
      justify-content: center;
      transition-duration:1500ms;
       :hover{
            color: black;
          }

      h1 {
        text-align: center;
        line-height: 1.7;
        font-size: $font-header;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
         
      }

      p {
        text-align: center;
        font-size: 14px;
      }
    }
    .btn {
      text-align: center;
      height: 100px;
     
      
           :hover{
          background-color: yellowgreen;
          color: black;
          font-weight: bold;
        
        }

      button {
        text-align: center;
        margin-top: 35px;
        border: 1px solid whitesmoke;
        border-radius: 30px;
        width: 240px;
        height: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgb(62, 4, 147);
      
   
      }
    }
    .icon {
      display: flex;
      justify-content: end;
      margin-top: 70px;

      img {
        margin-left: 15px;
        width: 23px;
      }
    }
  }
}

//SECTION  ABOUT

#about {
  height: 830px;
  padding-top: 90px;

  .container2 {
    .title {
      .h2 {
        // font-weight: 600;
        font-size: 90px;
        text-align: center;
      }
      p {
        color: $font-color;
        font-size: 14px;
        padding-left: 60px;
        padding-right: 60px;
      }
      .img {
        display: flex;
        justify-content: center;
        padding-top: 10px;
      }
    }
  }
  .main {
    margin-top: 30px;
    display: flex;

    .cantent {
      padding-top: 70px;
      padding-left: 35px;
      color: $font-color;
      font-size: 15px;

      .button {
        button {
          border: 1px solid rgba(104, 45, 241, 0.808);
          border-radius: 30px;
          color: whitesmoke;
          background-color: rgba(104, 45, 241, 0.808);
          width: 150px;
          height: 45px;
          margin-right: 60px;
          margin-top: 40px;
        }
      }
      .span {
        span {
          position: absolute;
          border: 0.7px dashed rgba(37, 36, 36, 0.264);
          width: 715px;
          margin-top: 25px;
        }
      }
      .bio {
        display: flex;
        justify-content: space-between;
        .col2 {
          margin-right: 260px;

          .loc {
            display: flex;
            margin-top: 5px;
          }
          .job {
            margin-top: 30px;
            padding-top: 30px;
            display: flex;
          }
        }
        .col1 {
          .age {
            display: flex;
            padding-top: 5px;
          }
          .name {
            margin-top: 30px;
            padding-top: 30px;
            display: flex;
          }
        }
      }
    }
  }
}

//SECTION SKILL

#skill {
  height: 550px;
  color: whitesmoke;
  background-image: linear-gradient(
      180deg,
      rgba(104, 45, 241, 0.808),
      rgba(42, 4, 147, 0.838)
    ),
    url(./images/skill-background.png);
  background-repeat: no-repeat;
  background-size: 1570px 550px;
  opacity: 80%;
  .container2 {
    padding-top: 90px;
    .title {
      h1 {
        display: flex;
        justify-content: center;
      }
      div {
        display: flex;
        justify-content: center;
        margin-top: 13px;
        margin-bottom: 30px;
      }
    }
    .cards {
      display: flex;
      justify-content: space-between;

      .card {
        border: 1px solid white;
        width: 350px;
        height: 150px;
        border-radius: 10px;
        margin-top: 50px;
        background-color: whitesmoke;
        padding-top: 15px;
        :hover {
          .line2,
          .line3,
          .line1 {
            width: 200px;
            height: 100px;
          }
        }
        .line1 {
          border: 4px solid rgba(32, 98, 249, 0.724);
          border-radius: 10px;
          right: 300px;
          width: 0px;
          position: absolute;
          left: 215px;
          top: 1963px;
          transition: width 1s ease;
          
        }
        .line3 {
          border: 4px solid rgba(97, 8, 241, 0.936);
          border-radius: 10px;
          right: 30px;
          width: 0px;
          position: absolute;
          left: 1005px;
          top: 1961.5px;
          transition: width 1s linear;
        }
        .line2 {
          border: 4px solid rgba(225, 81, 4, 0.936);
          border-radius: 10px;
          right: 60px;
          width: 0px;
          position: absolute;
          left: 609px;
          top: 1962px;
          transition: width 1s linear;
        }
        div {
          display: flex;
          justify-content: center;
          img {
            width: 50px;
          }
        }
      }
    }
  }
}

// SECTION SERVICES

#services {
  height: 670px;

  .container1 {
    margin-top: 90px;

    h1 {
      display: flex;
      justify-content: center;
      font-weight: 600;
    }
    p {
      font-size: 14px;
      color: $font-color;
    }
    .title {
      padding-left: 250px;
      padding-right: 250px;
    }

    .img {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .cards {
      display: flex;
      margin-top: 40px;
      justify-content: space-between;

      .card {
        margin-right: 20px;
        border: 1px solid white;
        height: 270px;
        max-width: 370px;
        box-shadow: -2px -1px 20px -10px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: -2px -1px 20px -10px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -2px -1px 20px -10px rgba(0, 0, 0, 0.75);

        h3 {
          text-align: center;
        }

        p {
          padding: 20px 10px;
          text-align: center;
        }

        .image {
          display: flex;
          justify-content: center;
          margin-top: 25px;
          height: 76px;
        }
      }
    }
  }
}

//SECTION ICONS

#icons {
  height: 300px;
  background-image: linear-gradient(
      180deg,
      rgba(40, 5, 180, 0.913),
      rgba(42, 4, 147, 0.838)
    ),
    url("./images/overview-background.png");
  background-repeat: no-repeat;
  background-size: 1650px 300px;
  opacity: 80%;
  color: whitesmoke;

  .container1 {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
  }
  .icon {
    display: flex;

    .image {
      img {
        width: 58px;
        height: 60px;
        margin-top: 10px;
      }
    }

    .title {
      margin-left: 15px;

      h1 {
        font-size: 40px;
        font-weight: 600;
      }

      p {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}

//SECTION PORTFOLIO

#portfolio {
  height: 1300px;

  .container1 {
    margin-top: 100px;

    .title {
      .p {
        display: flex;
        justify-content: center;
        padding: 5px 350px;
        color: $font-color;
        font-size: 14px;

        p {
          text-align: center;
          line-height: 1.6rem;
        }
      }
    }
    .img {
      display: flex;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 25px;
    }
    .images {
      margin-top: 45px;
  a{
    :hover {
     filter: blur(0px);
    }
    
  }
      img {
        max-width: 400px;
        filter : blur(3px);
        padding-left: 15px;
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
     
   
      }
    }
  }
}

//SECTION MIC

#mic {
  height: 520px;
  background-image: linear-gradient(
      180deg,
      rgba(145, 105, 204, 0.921),
      rgba(42, 4, 147, 0.838)
    ),
    url("./images/slider-background.png");
  background-repeat: no-repeat;
  background-size: 1550px 550px;
  color: whitesmoke;

  .container2 {
    padding-top: 60px;

    .image {
      div {
        display: flex;
        justify-content: center;
      }
      h2 {
        text-align: center;
        font-weight: 500;
      }
      p {
        text-align: center;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.751);
        padding-left: 150px;
        padding-right: 150px;
      }
    }
    .star {
      display: flex;
      justify-content: center;
      margin-top: 40px;

      img {
        width: 16px;
        margin-right: 10px;
      }
    }
  }
}

//SECTION TEAM
#team {
  height: 850px;

  .header {
    p {
      margin-top: 30px;
      text-align: center;
      padding-left: 350px;
      padding-right: 350px;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.585);
    }
    .line {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  }
  .images {
    display: flex;
    justify-content: space-between;
    //  width: 1350px;

    .image {
      width: 280px;
      margin-top: 60px;
      height: 350px;
      margin-right: 15px;
      box-shadow: -1px 2px 30px 13px rgba(0, 0, 0, 0.24);
      -webkit-box-shadow: -1px 2px 30px 13px rgba(0, 0, 0, 0.24);
      -moz-box-shadow: -1px 2px 30px 13px rgba(0, 0, 0, 0.24);
      border: 1px solid white;
      border-radius: 10px;

      img {
        width: 280px;
        // padding: 1px;
      }

      .title {
        padding-left: 15px;
        margin-top: 10px;

        h4 {
          font-weight: 600;
        }

        h5 {
          margin-top: 10px;
          font-size: 14px;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.585);
        }
      }
    }
  }
}

//SECTION BLOG
#blog {
  height: 800px;

  .container1 {
    margin-top: 50px;
    .header {
      p {
        margin-top: 30px;
        text-align: center;
        padding-left: 350px;
        padding-right: 350px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.585);
      }
    }

    .images {
      display: flex;

      .massage {
        display: flex;
        justify-content: center;
        height: 30px;
        padding-left: 30px;
      }
      .sub-title {
        display: flex;
        text-align: center;
        padding: 20px;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.585);
      }
      .image {
        margin-top: 60px;
        height: 450px;
        margin-right: 15px;
        box-shadow: -1px 2px 30px 13px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: -1px 2px 30px 13px rgba(0, 0, 0, 0.24);
        -moz-box-shadow: -1px 2px 30px 13px rgba(0, 0, 0, 0.24);
        border: 1px solid white;
        border-radius: 10px;
        p {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.585);

          padding-top: 25px;
        }
      }

      h4 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
      }
    }
  }
}

//Section Footer
#footer {
  background-color: rgba(23, 23, 23, 0.936);
  height: 280px;

  .container2 {
    padding-top: 60px;

    .title {
      text-align: center;
      color: whitesmoke;
    }
    .subs {
      color: rgba(245, 245, 245, 0.48);
      display: flex;
      justify-content: space-between;
      padding-left: 200px;
      padding-right: 200px;
      margin-top: 30px;
    }
    .subs {
      p {
        font-size: 14px;
      }
      .sub-title {
        display: flex;

        img {
          width: 16px;
          height: 16px;
          margin-top: 5px;
          margin-right: 10px;
        }
      }
    }
  }
}
